version: 2.1

jobs:
  build:
    #working_directory: ~/circleci-python
    docker:
      - image: "circleci/python:3.9"
    steps:
      - checkout
      - restore_cache:
          key: deps1-{{ .Branch }}-{{ checksum "requirements.txt" }}
      - run:
          name: Install Python deps in a venv
          command: |
            python -m venv venv
            . venv/bin/activate
            pip install -r requirements.txt
      - save_cache:
          key: deps1-{{ .Branch }}-{{ checksum "requirements.txt" }}
          paths:
            - ""
      - run: python -m calc
      - run: echo "test 4"
      
  test:
    # working_directory: ~/circleci-python
    docker:
      - image: "circleci/python:3.9"
    steps:
      - checkout
      # - run: python3 main-test.py
      - run:
          command: | 
              pip install unittest-xml-reporting
              python -m unittest tests.calc_test -v
      - store_test_results:
          path: ..

workflows:
  build_and_test:
  # conditional-workflow:
  #   when:
  #     equal: [ master, << pipeline.git.branch >> ]
    jobs:
      - build
      - test:
          requires:
            - build










  # build_and_test:
  #   jobs:
  #     # - when:
  #     #   condition: 
  #     #     equal: [master, << pipeline.git.branch >>]
  #       - build
  #       - test:
  #           requires:
  #             - build