version: 2.1

jobs:
  build:
    working_directory: ~/circleci-python
    docker:
      - image: "circleci/python:3.6.4"
    steps:
      - checkout
      - run: sudo chown -R circleci:circleci /usr/local/bin
      - run: sudo chown -R circleci:circleci /usr/local/lib/python3.6/site-packages
      - restore_cache:  # ensure this step occurs *before* installing dependencies
          key: deps2-{{ .Branch }}-{{ checksum ".venv/Pipfile.lock" }}
      - run:
          command: |
            sudo pip install pipenv
            pipenv install
      - save_cache:
          key: deps2-{{ .Branch }}-{{ checksum "Pipfile.lock" }}
          paths:
            - ".venv/"
            - "/usr/local/bin/"
            - "/usr/local/lib/python3.6/site-packages/"
      - run: python3 main.py
      - run: echo "testing caching test 3"
      
  test:
    working_directory: ~/circleci-python
    docker:
      - image: "circleci/python:3.6.4"
    parallelism: 1
    steps:
      - checkout
      - run:
          command: |
            echo $(circleci tests glob "./**/*")



workflows:
  build_and_test:
  # conditional-workflow:
  #   when:
  #     equal: [ master, << pipeline.git.branch >> ]
    jobs:
      - build
      - test:
          requires:
            - build
